body {
    color: black;
}

h1 {
    color: black;
    font-size: 4vw;
}

p {
    font-size: 1.25vw;
}

.sideContent {
    width: 30%;
    height: 100%;
    float: right;
}

.sideText {
    margin: 3vw;
    text-align: right;
}

.sectiontitle {
    background: #fcc81a;
    margin: 10vw 0;
    padding: 5vw 5vw;
    width: 90%;
}